<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Ajouter un nouveau livre</h2>
    <form [formGroup]="livreForm" (ngSubmit)="onSaveLivre()">
      <div class="form-group" >
      <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group" >
        <label for="author">Auteur</label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>
      <div class="form-group">
        <h4> Ajouter une photo</h4>
        <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Ficher changé !</p>
      </div>
      <button class="btn btn-success"
              [disabled]="livreForm.invalid || fileIsUploading"
              type="submit">
        Ajouter
      </button>
    </form>
  </div>
</div>
