<div class="row">
  <div class="col-xs-12">
    <img style="max-width: 400px" *ngIf="livre.photo" [src]="livre.photo" >
    <h1>{{livre.title}}</h1>
    <h3>{{livre.author}}</h3>
    <button class="btn btn default" (click)="onBack()">Retour</button>
  </div>
</div>
