<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/Akhry.png/100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TA DEUXIEME VIE</h5>
      <p class="card-text">Ta deuxième vie commence quand tu comprends que tu n'en as qu'une!
        "Vous souffrez probablement d'une forme de routinite aiguë. - Une quoi ?"<br>
        Camille, trente-huit ans et quart, a tout, semble-t-il, pour être heureuse.
        <br>Alors pourquoi a-t-elle l'impression que le bonheur lui a glissé entre les doigts ? Tout ce qu'elle veut, </br>
        <br>c'est retrouver le chemin de la joie et de l'épanouissement. Quand Claude, routinologue, <br>
        lui propose un accompagnement original pour l'y aider, elle n'hésite pas longtemps : elle fonce et repart à la conquête de ses rêves...</p>
      <a href="#" class="btn btn-primary">Acheter</a>
    </div>
  </div>
</div>
