

<!------------Template Navbar ------------>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="livres">Livres</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active"*ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signup" >Créer un compte<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signin" >Connexion <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  (click)="onSignOut()" style="cursor:pointer">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<img class="slide" src="./assets/img/Akhry.png" style="width:100%;"/>
