<div class="row">
  <div class="col-xs-12">
    <h2>Vos Livres</h2>
    <div class="list-group">
      <button class="list-group-item"
              *ngFor="let livre of livres; let i = index"
              (click)="onViewLivre(i)">
        <h3 class="list-group-item-heading">
          {{livre.title}}
          <button class="btn btn default pull-right" (click)="onDeleteLivres(livre)">
            <span class="glyphicon glyphicon-minus">

            </span>
          </button>
        </h3>
        <p class="list-group-item-text">
          {{livre.author}}
        </p>
      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewLivre()">Nouveau Livre</button>
  </div>
</div>
